.CreatorView{ text-align: center; }

.SubjectView{ margin-left: 10%; /* background-color: brown; */ background-color: rgb(209, 28, 28);}

.smallRightMargin{ margin-right: 10px; }

.medium-right-margin{ margin-right: 20px; }

.display{ display: inline-block; }

@media (min-width: 700px) {
     .hide-for-big{ display: none !important; } 
}

@media (max-width: 700px) {
    .hide-for-small{ display: none !important; }
}
@media (max-width: 500px){
    .creator-text-size{ font-size: 20px; }
}
.float-left{ float: left; }

.float-right{ float: right; }

.center-text{ text-align: center; }

.textMargins{ margin-left: 3%; margin-right: 3%; }

.Link { color: gold; background-color: rgb(22, 49, 131); /* background-color: rgb(110, 60, 14); */
    padding: 3px 14px; text-align: center; text-decoration: none; display: inline-block;
    border-radius: 10px; }

.Link:hover { /* background-color: rgb(158, 89, 25); */ background-color: royalblue; }

.CreatorView{ color: gold; }

.main-text-color { color: gold; }

.main-colors { color: gold; background-color: rgb(110, 60, 14); }

.NavLink{ /* color: gold; background-color: rgb(110, 60, 14); */ color: yellow;
    background-color: rgb(22, 49, 131); padding: 3px 14px; text-align: center; 
    text-decoration: none; display: inline-block; border-radius: 10px;
    margin: 10px 10px; }

.NavLink:hover { background-color: royalblue; /* background-color: rgb(158, 89, 25); */ }

.mathquill-field { background-color: rgb(228, 171, 85); border-color: rgb(61, 32, 6);
    color: rgb(61, 32, 6); border-radius: 3.5px;}

.mathquill-field:focus { outline: none !important; border-color: gold; box-shadow: 0 0 10px gold; }

.MathText{ padding: 3px 14px; background-color: rgb(228, 171, 85); color: rgb(61, 32, 6);
    border:1px solid rgb(61, 32, 6); border-radius: 3.5px; width: 200px; height: 30px; }

.SelectedMathText{ padding: 3px 14px; background-color: rgb(228, 171, 85); color: rgb(61, 32, 6);
    border-radius: 3.5px; width: 200px; height: 30px; border:1px solid gold; box-shadow: 0 0 10px gold; }

.actionButton{ /* background-color: rgb(32, 66, 168); color: rgb(201, 188, 172); */
    /* background-color: rgb(139, 219, 199); color: rgb(61, 32, 6); */ background-color: rgb(19, 151, 59);
    color: gold; border-radius: 7px; display: inline-block; }

.textLink{
    color: rgb(22, 49, 131); font-size: 1.17em; margin-top: 1em; margin-bottom: 1em; margin-left: 0;
    margin-right: 0; font-weight: bold; text-decoration: none;
}
.Heading{
    color: rgb(61, 32, 6); font-size: 1.17em; margin-top: 1em; margin-bottom: 1em;
  margin-left: 0; margin-right: 0; font-weight: bold; }

.MathText:focus { border:1px solid gold; box-shadow: 0 0 10px gold; }

.keyboard-container { position: fixed; width: 100%; height: 150; background-color: rgb(61, 32, 6);
    bottom: 0; }

.notNumberModal{ position: absolute; width: 200px; height: 150px; background-color: royalblue; color: rgb(61, 32, 6);
    text-align: center; left: 50%; margin-left: -100px; top: 30%; margin-top: -75px; border-radius: 14px; }

.notNumberOverlay { position: fixed; top: 0; left: 0; right: 0; bottom: 0; }

.closeButton { background-color: rgb(61, 32, 6); color: gold; border-radius: 7px; }

.navBar { margin: 0; padding: 0; width: 100%; overflow: auto; }

.leaderBoardAd { color: gold; width: 728px; height: 90px; /* background-color: rgb(110, 60, 14); */
    background-color: rgb(22, 49, 131); display: inline-block; }

.mediumRectangle { color: rgb(110, 60, 14); width: 300; height: 250; background-color: gold; display: inline-block; }

.fullWidth { width: 100%; }

.newLineDiv { margin-bottom: 20px; }

.mobileBanner { color: gold; width: 320; height: 100; /* background-color: rgb(110, 60, 14); */
    background-color: rgb(22, 49, 131); display: inline-block; }

.largeRectangle { color: gold; width: 336; height: 280; /* background-color: rgb(110, 60, 14); */
    background-color: rgb(22, 49, 131); display: inline-block; }

.inline-math{
    color: gold;
}

.heading-size{ font-size: 1.80em;}